	*{
			padding: 0;
			margin: 0;
		}
		body{
			display: grid;
			background-color: black;
			color: white;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}
		h1{
			margin-top: 8%;
			margin-bottom: 8%;
		}

		canvas{
			border: solid 3px white;
			border-radius: 5%;
		}
		.montserrat {
  		font-family: "Montserrat", sans-serif;
  		font-optical-sizing: auto;
  		font-style: normal;
		}

		.space{
  		font-family: "Space Grotesk", sans-serif;
  		font-optical-sizing: auto;
 		 font-style: normal;
	}