*{
    padding: 0%;
    margin: 0%;
}

body{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}



.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.space{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
